body {
	font-family: "verdana", sans-serif;
	font-size: 14px;
	display: flex; /* idk if flexbox is the best solution here but it's all i know */ 
	flex-direction: row;
	justify-content: center;
}

h1, h2 {
	font-family: monospace;
}

#wrapper {
	width: 1000px;
	margin: 20px;
}

#input div {
	padding: 5px;
}

input[type="button"], input[type="reset"] {
	border: 1px solid black;
    outline: none;
    padding: 5px;
    background: white;
}

input[type="button"]:hover, input[type="reset"]:hover {
    background: #eeeeee;
}

.job-input {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#jobs label, #jobs input[type="button"] {
	margin-left: 10px;
}

#jobs input[type="number"] {
	width: 100px;
}

#jobs input[type="number"], #jobs input[type="button"] {
	background: rgba(255,255,255,.5);
    border: none;
    outline: none;
    height: 37px;
    margin: -5px 0px;
    padding: 0px 5px;
}

#jobs input[type="number"]:hover, #jobs input[type="button"]:hover {
	background: rgba(255,255,255,.65);
}

#jobs input[type="button"] {
	margin-right: -6px;
	padding: 0px 10px;
}

#options input[type="number"] {
	border: 1px solid black;
	outline: none;
	padding: 5px;
}

#output {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.output-column {
	width: 350px;
}

.blocks {
	margin: 20px 0px;
}

.block {
	padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
